:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-color: #000000;
  --background-color: #2f303a;
  --button-color: #eeeeee;
  --accent-text-color: #ffffff99;
  --accent-line-color: #ECECEC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}

ul {
margin: 0; 
padding-left: 0;
list-style: none;
}

li {
  margin: 0;
  line-height: initial;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

html {
  box-sizing: border-box; 
}
 *,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
max-width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
outline: 0.5px solid red;
}


body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.1;
}

address {
  font-style: normal;
  color: var(--primary-white-color);
}
footer {
  font-family: 'Roboto', sans;
}
/* -------------------------------HEADER------------------------------ */

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding-top: 25px;
  padding-bottom: 24px;
  }

.header {
  border-bottom: 1px solid var(--accent-line-color);
}

.logo {
  display: block;
  width: 135px;
  height: 31px;
  /* WebStudio */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);

}
.accent-header {
  color: var(--logo-color);
}
  /* Site nav */
.site-nav {
  margin-left: 91px;
}
.nav, .item-nav {
  display: flex;
}

.link:not(:last-child) {
  color: var(--title-text-color);
  margin-right: 50px;
  margin-bottom: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover ,
.link:focus {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom {
  display: block;
  content:" ";
  margin-bottom: 32px;
}

.under-link:after {
  display: block;
  content:" ";
  height: 4px;
  width: 100%;
  border-radius: 4px;
  border: var(--accent-color);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 28px;
}

.curent {
  color: var(--accent-color);
}

.link-bottom {
  width: 100%;
  height: 100%;
  border-radius: 4px;  
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;  
  margin-bottom: 0;
  gap: 52px;
}



/* Contacts */
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.auth-nav, .item-contact{
  display: flex;
}

  .envelope {
  fill: var(--primary-text-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .smartphone {
  fill: var(--primary-text-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 

.link-mail {
  display: flex;
  align-items: center;
  margin-left: 315px;
  margin-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-tel {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mail:hover .envelope,
.link-mail:focus .envelope {
  fill:  var(--accent-color);
}
.link-tel:hover .smartphone,
.link-tel:focus .smartphone {
  fill:  var(--accent-color);
}

/* -------------------------------MAIN------------------------------- */
.main-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
  }
.overlay {
  max-width: 1600px;
  height: 600px ;
  margin: 0 auto;
  outline: 1px solid rgba(196, 196, 196, 1);
  background-image: linear-gradient(to left,
  rgba(0, 0, 0, 0.2),
  rgba(47, 48, 58, 0.4) ), url(../images/header.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-wrap {
  display: block;
  margin: 0 auto;
}

.main-title {
  display: block;
  width: 696px;
  margin: 0px auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* -------------------------------MAIN BUTTON-------------------------- */
.main-button {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
/* ------------------ ABOUT----------------- */
.about {
  display: flex;
  flex-wrap: wrap;
  height: 248px;

}
.section-about {
  padding-top: 94px;
}
.text-wrap, .antena {
  margin-right: 30px;
  align-items: center;
}


.text-wrap:nth-child(4n) {
  margin-right: 0;
}
.text-wrap:nth-child(-n + 4) {
  margin-bottom: 0;
  margin-top: 0;
}
.text-wrap {
  width: 270px;
}


.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.hiden-title {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
}

.text-wrap::before {
  display: block;
  content:" ";
  height: 120px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.item-antena::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px;
}
.item-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px;
}
.item-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px;
}
.item-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px;
}
/* -----------------ACTIVITY---------------- */
.section-activity {
padding-top: 94px;
padding-bottom: 94px;
}

.section-title, .main-activity {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.section-title {
  margin-bottom: 50px;
}

.activity {
  display: flex;
  flex-wrap: wrap;

}
.activity-item {
  width: 370px;
}

.activity-item:not(:nth-child(3n)) {
  margin-right: 30px
}
.activity-item {
  width: calc((100% - 60px) / 3);
}
.activity-wrap {
  position: relative;
  height: 100%;
  top: -70px;
  left: 0;
  overflow: visible;
}

.activity-top-text {
  position: absolute;
  top: 100%;
  left: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  padding-top: 27px;
  padding-left: auto;
  padding-right: auto;
}
/* ------------------TEAM--------------------- */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: 
rgba(245, 244, 250, 1);
  background-position: center;
}
.team {
  margin: 0 auto;
}
.card-name {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
}
.card-description {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color); 
  text-align: center;
}

.main-team {
display: flex;
flex-wrap: wrap;
}
.card-title {
  display: block;
}

.card-description {
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;

}
.card-element {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.card-box {
display: block;
border-radius: 4px;
background-color:var(--primary-white-color);
box-shadow:0px 2px 1px 0px rgba(0, 0, 0, 0.2),
0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card-element:nth-child(4n) {
  margin-right: 0;
}
.card-element:nth-child(-n + 4) {
  margin-bottom: 0;
}
.card-box:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

/* ---------------------------- */
.card-links {
  padding: 16px 32px 30px;
}

.soc-lists {
  display: flex;
  align-items: center;
  justify-content: center;
}
.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.card-link {
  background-color: var(--primary-white-color);
}

.soc-item {
  height: 20px;
  width: 20px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px; 
  border-radius: 50%;
  fill:  #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);  
  fill: var(--primary-white-color);
}


/* ------------------CLIENTS-------------------- */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
display: flex;
width: 170px;
height: 92px;
gap: 30px;
}


.icon-client {
  width: 170px;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-logo {
  fill:   rgba(175, 177, 184, 1);
  height: 60px;
  width: 106px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients:hover .icon-logo,
.icon-clients:focus .icon-logo{
  fill: var(--accent-color);
}
.icon-clients:hover,
.icon-clients:focus {
 border-color: var(--accent-color);
}

/* ----------------------------------FOOTER------------------------------- */
.section-footer {
  background-color: var(--background-color);
  padding-bottom: 60px;
  padding-top: 60px;
  height: 252px;
  margin: 0 auto;
}
.body-footer {
  display: flex;
}
.logo-footer {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.accent-footer {
  color: var(--primary-white-color);
}

.address {
  margin-top: 20px;
  font-family: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
}
.address-wrap {
  margin-left: 0;
}
.contact-link {
  display: block;
  margin-top: 9px;
}
.footer-contact {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel {
  display: block;
  margin-top: 9px;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-text-color);
  text-decoration: none;
}

.footer-soc {
  display: block;
  margin-left: 70px;
}

.title-soc {
  padding-top: 15px;
  color: var(--primary-white-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
}

.social-list:nth-child(4n) {
  margin-right: 0;
}
.footer-link-wrap {
  margin-left: auto;
}

.footer-link {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.footer-label {
  display: block;
  width: 358px;
  margin-bottom: 0;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-left: 28px;
  height: 50px;
  width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover .icon-send,
.footer-button:focus .icon-send {
  fill: var(--accent-color);
  background-color: var(--primary-white-color);
}

.footer-button:hover ,
.footer-button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

.icon-send {
  fill: var(--primary-white-color);
  width: 24px;
  height: 24px;
  margin: 13px 28px 13px 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-link {
    text-decoration: none;
  }

.icon-send-footer {
  display: block;
  width: 100%;
  height: 100%;
  }

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color);
  text-align: start;
  padding: 16px 15px;
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color:rgba(255, 255, 255, 0.6);
}


/* ------------------------------PORTFOLIO------------------------------- */
.main-portfolio {
padding-top: 94px;
padding-bottom: 94px;
}

.portfolio-nav {
  margin: 0 auto;
}

/* Buttons */
.buttons {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
}

.button-nav:not(:last-child) {
  margin-right: 8px;
}

.primary-portfolio {
  color: var(--title-text-color);
  background-color: var(--button-color);
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-portfolio:hover,
.primary-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* --------------------------*/



.main-project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  }

.project-element, .project {
  width: calc((100% - 60px) / 3);
  text-decoration: none;
}

.project:hover ,
.project:focus {
  box-shadow: 
  1px 4px 6px 0px rgba(0, 0, 0, 0.16),
  0px 4px 4px rgba(0, 0, 0, 0.06);
  
}

.project {
  display: block;
  width: 100%;
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: block;
}

.project-top-text, .project-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

.project-top-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
color: var(--primary-white-color);
padding: 63px 24px;
}

.project:hover .project-top-text, 
.project:focus .project-top-text {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}

.project:hover .project-top,
.project:focus .project-top {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}

.project-titles {
  height: 110px;
  padding: 20px 24px;
  border: 1px solid var(--button-color);
  border-top: none;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.project-description {
  font-size: 16px;
  line-height: 2;
  color: var(--primary-text-color);
}



/* ------------Modal--------------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0) rotate(-180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal {
  width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  border-radius: 4px;
  padding: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  border: 1px solid
  rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  height:30px;
  width: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  border-color: rgba(0, 0, 0, 0.1);
  fill: #000000;
  background-color: var(--primary-white-color);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.item-close {
  width:100%;
  height: 100%;
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
  background-color:var(--primary-white-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
textarea {
  resize: none;
}
.modal-input {
  overflow: hidden;
  width: 100%;
  height: 40px;
  border: 1px solid 
  rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  padding: 10px 10px 10px 42px;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  height: 96px;
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 16px 12px; 
}

.modal-input:focus {
  border: 1px solid var(--accent-color)
}

.modal-input:focus + svg {
  fill: var(--accent-color);
}


.icon-check {
  width: 100%;
  height: 100%;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.comment-title {
  margin-bottom: 0;
}

.modal-comment {
  resize: none;
  height: 120px;
  padding-left: 16px;
}

.modal-comment::placeholder {
padding-left:0;
padding-top: 0;
}

.input, textarea {
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
}

.button-modal {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color:var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button:focus {
  background-color: var(--accent-color);
}

.icon-user {
  position: absolute;
  fill:rgba(33, 33, 33, 1);
  top: 104px;
  left: 52px;
  width: 18px;
  height: 18px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
  position: absolute;
  fill:rgba(33, 33, 33, 1);
  top: 172px;
  left: 52px;
  width: 18px;
  height: 18px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email {
  position: absolute;
  fill:rgba(33, 33, 33, 1);
  top: 240px;
  left: 52px;
  width: 18px;
  height: 18px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.modal-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.modal-submit {
  display: flex;
  align-items: center;
    justify-content: center;
    width: 100%;
}
.text-check {
  display: block;
  height: 100%;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.send-link {
  color: var(--accent-color);
}

.icon-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 1.5px solid  #212121;
  border-radius: 2px;
  fill: var(--primary-white-color);
  cursor: pointer;
}

.icon-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
}

.check-box {
  display: none;
  margin-bottom: -2px;
  margin-right: -22px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box:checked + .icon-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

label.modal-send {
margin-bottom: 0;
}
