.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: 
  rgba(245, 244, 250, 1);
    background-position: center;
  }
  .team-wrap {
    margin: 0 auto;
  }
  .card-name {
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--title-text-color);
    text-align: center;
  }
  .card-description {
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color); 
    text-align: center;
  }
  
  .team-cards {
  display: flex;
  flex-wrap: wrap;
  }
  .card-title {
    display: block;
  }
  
  .card-description {
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
  
  }
  .card-element {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 50px;
  }
  
  .card-box {
  display: block;
  border-radius: 4px;
  background-color:var(--primary-white-color);
  box-shadow:0px 2px 1px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  .card-element:nth-child(4n) {
    margin-right: 0;
  }
  .card-element:nth-child(-n + 4) {
    margin-bottom: 0;
  }
  .card-box:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  }
  
  /* ---------------------------- */
  .card-links {
    padding: 16px 32px 30px;
  }
  
  .soc-lists {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .card-link {
    background-color: var(--primary-white-color);
  }
  
  .soc-item {
    height: 20px;
    width: 20px;
  }
  
  .soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px; 
    border-radius: 50%;
    fill:  #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .soc-link:hover,
  .soc-link:focus {
    background-color: var(--accent-color);  
    fill: var(--primary-white-color);
  }
  