  address {
    font-style: normal;
  }
  
  html {
    box-sizing: border-box; 
  }
   *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.1;
  }
  
  address {
    font-style: normal;
    color: var(--primary-white-color);
  }
  footer {
    font-family: 'Roboto', sans;
  }